*{
    margin: 0;
padding: 0;

}

.container2{
border: 20px black;
border-radius: 30px;
height: 850px;
width: 640px;
background-color: crimson;
box-shadow: 20px 10px #888888;
}
.box1{
    
    border: 5px black;
    border-radius: 5px;
    height:200px;
    width: 300px;
    top: -800px;
    background:#171717;
position: relative;
right: -950px;
box-shadow: 5px 10px #888888;
display: flex;

}
.box2{
    border: 5px black;
    border-radius: 5px;
    height:200px;
    width: 300px;
    top: -700px;
    background-color:#171717;
position: relative;
right: -950px;
box-shadow: 5px 10px #888888;
display: flex;
}
.box3{
    border: 5px black;
    border-radius: 5px;
    height:200px;
    width: 300px;
    top: -600px;
    background-color:#171717;
position: relative;
right: -950px;
box-shadow: 5px 10px #888888;
display: flex;
}
/* navbar code starts from here */
#mySidenav a {
  position: absolute;
  left: -75px;
  transition: 0.3s;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border-radius: 0 5px 5px 0;
  z-index: 100;
  
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #fdfdfd;
}

#blog {
  top: 80px;
  background-color: #fdfdfd;
}

#projects {
  top: 140px;
  background-color: #fdfdfd;
}

#contact {
  top: 200px;
  background-color: #fdfdfd;
}
/* background image  */
.bg-img {
     background-image: url("portfolio-img2.png");
    height: 800px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 30px;
    left: 400px;
    border: 5px solid black;
    border-radius: 150px;
    
}
/*  text in container  */
#text1{
position: absolute;
top: 300px;
left: 2px;
font-family: "Open Sans", sans-serif;
font-size:30px;
color: black;
font-style: italic;
font-weight: 20px;
border-bottom: 3px solid black;
background-color: #fdfdfd;
border-radius: 10px;
box-shadow: 5px 5px #888888;

}

#text2{
    position: absolute;
    top: 350px;
    left: 5px;
     font-family: "Open Sans", sans-serif;
    font-size: 33px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 3px solid black;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}
